.project {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.project h1 {
  margin-top: 30px;
  color: #3e497a;
  font-size: 35px;
  width: 90%;
  height: 20%;
}
.project img {
  margin-top: 10px;
  width: 70%;
  border-radius: 10px;
}

.project p {
  width: 80%;
  font-size: 40px;
  color: #3e497a;
}

.project svg {
  font-size: 60px;
  color: #3e497a;
  margin: 5px;
  cursor: pointer;
}

.project button {
    background-color: #3e497a;
    color: white;
    font-size: 1.8rem;
    display: inline-block;
    outline: none;
    border: #201e86;
    padding: 0.7rem 1.5rem;
    border-radius: 8px;
    margin-top: 0.6rem;
}

.project button:hover {
    cursor: pointer;
    .sp {
      margin-left: 5px;
      transition: 0.2s;
    }
}
/* 
.project button span:hover {
  transition: 0.2s;
  margin-left: 3px;
} */